* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

#mio_id {
    width: 100%;
    background: #083B4C;
}

#mio_id h1 {
    text-align: center;
    font-size: 80px;
    color: white;
    padding: 30px;
}

#mio_id .list {
    margin: auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#mio_id .list .box {
    margin: 15px;
    min-width: 140px;
    min-height: 140px;
    text-align: center;
    line-height: 140px;
    font-size: 25px;
    font-weight: 500;
}

#mio_id .list .box.fizz-buzz {
    background: #F0466F;
}

#mio_id .list .box.fizz {
    background: #0AD6A1;
}

#mio_id .list .box.buzz {
    background: #FFD166;
}

#mio_id .list .box.number {
    background: #1389B2;
}